body {
    background-color: #008080;
    color: #ffffff;
    font-family: 'Courier New', monospace;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEklEQVQImWNgYGD4z4AE/gMADQcBfR2f0AAAAABJRU5ErkJggg==');
    position: relative;
}

p {
    color: #000000;
    text-shadow: 1px 1px 0px #ffffff;
}
.pipi {
    color: #72ff72;
    text-shadow: 1px 1px 0px #000000;
}

.container {
    max-width: 600px;
    margin: 0;
    background-color: #c0c0c0;
    border: 3px outset #ffffff;
    padding: 20px;
    box-shadow: 5px 5px 0px #000000;
}


.profile-card {
    text-align: center;
    margin-bottom: 20px;
}

.greenyImg {
    border: 3px inset #ffffff;
    max-width: 200px;
    height: auto;
}

.hello {
    background-color: #ffffff;
    border: 2px inset #c0c0c0;
    padding: 5px;
    width: 80%;
    font-family: 'Courier New', monospace;
    margin: 10px 0;
}

.social-links {
    text-align: center;
    margin: 20px 0;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #0000ff;
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    text-decoration: underline;
    background-color: #ffff00;
}

.copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    color: #000000;
}

.greenscitext {
    color: #0000ff;
    text-decoration: none;
}

.greenscitext:hover {
    background-color: #ffff00;
}

h1 {
    text-align: center;
    color: #ff00ff;
    text-shadow: 2px 2px 0px #000000;
    font-size: 24px;
}

.blink {
    animation: blink 1s step-end infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

hr {
    border: 1px outset #ffffff;
    margin: 20px 0;
}

marquee {
    color: #ffff00;
    background-color: #000080;
    padding: 5px;
   
}